In [1]:
%matplotlib inline

import csv
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

plt.style.use('fivethirtyeight')
plt.rc('figure', figsize=(5.0, 2.0))

In [2]:
heroes = pd.DataFrame.from_csv('../data/heroes.csv', sep=';')
heroes = heroes[heroes['First appearance'] < 2020]

In [3]:
heroes['Publisher'].value_counts()

Marvel Comics        205
DC Comics            121
Dark Horse Comics     12
George Lucas          11
ABC Studios            4
Image Comics           3
Rebellion              1
Hanna-Barbera          1
Star Trek              1
Universal Studios      1
Name: Publisher, dtype: int64

In [4]:
publisher_abs_freq = pd.crosstab(
    index=heroes['Publisher'],
    columns=['Abs. frequence'],
    colnames=['-_-'])

publisher_abs_freq

-_-                Abs. frequence
Publisher
ABC Studios                     4
DC Comics                     121
Dark Horse Comics              12
George Lucas                   11
Hanna-Barbera                   1
Image Comics                    3
Marvel Comics                 205
Rebellion                       1
Star Trek                       1
Universal Studios               1

In [5]:
publisher_rel_freq = pd.crosstab(
    index=heroes['Publisher'],
    columns=['Abs. frequence'],
    colnames=['-_-'],
    normalize=True)

publisher_rel_freq.apply(lambda p: np.round(p, 2))

-_-                Abs. frequence
Publisher
ABC Studios                  0.01
DC Comics                    0.34
Dark Horse Comics            0.03
George Lucas                 0.03
Hanna-Barbera                0.00
Image Comics                 0.01
Marvel Comics                0.57
Rebellion                    0.00
Star Trek                    0.00
Universal Studios            0.00

In [6]:
gender_freq = pd.crosstab(index=heroes['Gender'],
                          columns=['Abs. frequence'],
                          colnames=[''])
gender_freq

        Abs. frequence
Gender
F                   87
M                  272

In [7]:
gender_freq.loc[['M', 'F'], :]

        Abs. frequence
Gender
M                  272
F                   87

In [8]:
gender_freq.loc[['M', 'F'], 'Abs. frequence':]

        Abs. frequence
Gender
M                  272
F                   87